/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* End of resets */

#books-display {
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aqua;
}

.book {
  margin: 20px;
  height: 200px;
  color: blue;
  background-color: burlywood;
}
